<%= form_for @category, :html => { :class => 'form-horizontal' } do |f| %>

  <%= render "partials/error_messages", {model: @category} %>
  <div class="form-group">
    <%= f.label :name, "Name" %>
    <%= f.text_field :name %>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                categories_path, :class => 'btn' %>
  </div>
<% end %>
